---
import clsx from 'clsx'
import StoryblokImage from '../storyblok/StoryblokImage.astro'
import { fetchStories } from '@/utils/storyblok'
import type { ProjectStoryblok } from '@/types/storyblok'
import HeroSlide from '../blocks/HeroSlide.astro'

const projectStories = await fetchStories({
  by_slugs: 'projects/*',
  content_type: 'Project',
  sort_by: 'sort_by_date:asc,published_at:asc,created_at:asc',
})

const projectSamples = [
  {
    cover: { filename: `https://unsplash.it/360/640?image=110` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=111` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=112` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=113` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=114` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=115` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=116` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=117` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=118` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=119` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl',
  },
]
const projects = [
  // @ts-ignore
  ...(projectStories?.length
    ? // @ts-ignore
      projectStories.map((project: ProjectStoryblok) => {
        const heroSlide = project.content.heroSlides?.[0] ?? {}
        return {
          ...project.content,
          slug: project.slug,
          link: project.full_slug ? `/${project.full_slug}` : undefined,
          cover: heroSlide.imagePortrait.filename
            ? heroSlide.imagePortrait
            : heroSlide.imageLandscape,
        }
      })
    : undefined),
  ...projectSamples,
  // ...projectSamples,
].filter(Boolean)
const navItems = [...projects]
const total = navItems.length
const half = total / 2
// TODO: sort by date ASC (!)

// GSAP 3D Carousel Demo
// https://codepen.io/GreenSock/pen/RwLepdQ
// https://codepen.io/GreenSock/pen/zYRWmOb
---

<div class="h-svh">
  <div
    x-data="home"
    class="flex h-svh justify-center"
    style={{ '--total': projects.length, '--pi': Math.PI }}
  >
    <!-- <div class="absolute left-0 top-0 w-full">
      <div class="h-[96px] bg-green-500/25"></div>
      <div class="absolute bottom-[] h-[96px] bg-green-500/25"></div>
    </div> -->
    <div class="x-home__container">
      <button
        type="button"
        class={clsx(
          'absolute left-0 top-0 z-10 block h-[var(--carousel-height)] w-[20vw] cursor-left bg-purple-500/5',
          'hidden lg:block',
        )}
        x-on:click="prev"
      >
        <span class="sr-only">Move to previous project</span>
      </button>
      <button
        type="button"
        class={clsx(
          'absolute right-0 top-0 z-10 block h-[var(--carousel-height)] w-[20vw] cursor-right bg-purple-500/5',
          'hidden lg:block',
        )}
        x-on:click="next"
      >
        <span class="sr-only">Move to next project</span>
      </button>
      <ul
        x-ref="carousel"
        class="x-home__carousel"
        data-total={projects.length}
      >
        {
          projects.map((project, index) => (
            <li
              class="x-home__carousel-item overflow-hidden rounded-3xl"
              style={{
                '--i': index,
                '--depth': 1 - Math.abs(index - half) / half,
              }}
              data-index={index}
              data-card={project.link}
            >
              <a
                href={project.link}
                class={clsx(
                  'x-home__card relative block h-full w-full',
                  'after:absolute after:bottom-0 after:left-0 after:right-0 after:z-10 after:h-3/4 after:w-full after:bg-gradient-to-t after:from-black/60 after:to-black/0 lg:after:h-1/2',
                )}
                x-on:click.prevent={`() => navigateTo('${project.link}')`}
              >
                <div class="x-home__card-blend" />
                <img
                  src={project.cover.filename}
                  alt={project.title}
                  class="h-full w-full object-cover"
                />
                {/* <div class="absolute left-4 top-4 rounded-2xl bg-white/80 p-2 font-bold">
                  {index}
                </div> */}
                <div class="x-home__text absolute bottom-4 left-4 right-4 z-20 text-white">
                  <h3 class="text-25 font-bold uppercase tracking-wide">
                    {project.title}
                  </h3>
                  <p class="text-15 font-serif tracking-wide">
                    {project.subtitle}
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <div class="x-thumbnails lg:hidden">
        <div x-ref="thumbnails">
          <nav>
            <ul class="x-home__nav">
              {
                navItems.map((project, index) => (
                  <li
                    class="x-home__thumb"
                    style={{
                      '--i': index,
                    }}
                  >
                    <a
                      href={project.link}
                      class="x-home__thumb-link relative"
                      x-on:click.prevent={`() => navigateTo('${project.link}')`}
                    >
                      {/*
                      <div class="absolute left-1 top-1 z-10 rounded-lg bg-white px-1">
                        {index}
                      </div>
                      */}
                      <img
                        src={project.cover.filename}
                        alt=""
                        class="absolute inset-0 h-full w-full rounded-lg object-cover"
                      />
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div
      x-ref="hero"
      class="absolute left-0 top-0 overflow-hidden rounded-3xl"
      data-image-class="absolute inset-0 h-full w-full rounded-3xl object-cover"
    >
    </div>
  </div>
</div>

<style is:global>
  .x-thumbnails .splide:not(.is-overflow) .splide__arrows {
    display: none;
  }

  .x-thumbnails .splide:not(.is-overflow) .splide__list {
    justify-content: center;
    transform: translateX(0) !important;
  }

  .x-thumbnails .splide:not(.is-overflow) .splide__slide:last-child {
    margin: 0 !important;
  }

  .x-thumbnails .splide__slide {
    @apply flex items-center transition duration-300 ease-in-out;

    height: var(--nav-h);
  }

  .x-thumbnails .splide__slide:hover,
  .x-thumbnails .splide__slide.is-active {
    /* transform: scale(1.2); */
    transform: translateY(-0.25rem);
  }

  .x-home__container {
    /* Original from design
    --mt: 6rem;
    --nav-h: 4.5rem;
    --nav-item-h: 3.6rem;
    --nav-gap: 3.375rem;
    --mb: 1.75rem;
    */

    /*
    Siteheader mt + Siteheader h + Gap
    12px + 28px + 32px = 72px
    */

    --mt: 4.5rem;
    --nav-h: 4.5rem;
    --nav-item-h: 3.5rem;
    --nav-item-w: calc(var(--nav-item-h) / 16 * 9);
    --nav-gap: 2rem;
    --mb: 1rem;
    --carousel-height: calc(
      100svh - var(--nav-h) - var(--nav-gap) - var(--mt) - var(--mb)
    );

    @apply relative flex w-full flex-col items-center overflow-hidden;
    /* @apply border-b border-t border-purple-500/50; */

    margin-top: var(--mt);
    margin-bottom: var(--mb);
    gap: var(--nav-gap);
  }

  @screen lg {
    .x-home__container {
      --mt: 3.5rem;
      --nav-h: 0rem;
      --nav-item-h: 0rem;
      --nav-gap: 0rem;
      --mb: 2.5rem;
    }
  }

  .x-home__carousel {
    --w: calc(var(--carousel-height) / 16 * 9);
    --angle: calc(var(--pi) / var(--total));
    --gap-cards: 0rem;
    --r: calc((var(--w) * 1) / (2 * sin(var(--angle))) + var(--gap-cards));
    --z: calc(var(--r));
    --perspective: 8000;
    --perspectivePX: 8000px;
    --progress: 0;
    @apply flex-none;

    width: calc(var(--carousel-height) / 16 * 9);
    height: var(--carousel-height);
    transform-style: preserve-3d;
    transform: perspective(var(--perspectivePX)) translateZ(calc(var(--z) * -1))
      rotateY(calc(var(--progress) * -360deg)) rotateX(0deg);
  }

  .x-home__carousel-item {
    @apply absolute h-full w-full rounded-2xl;

    filter: blur(calc(pow(var(--depth), 2) * 4px));
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 360deg / var(--total)))
      translateZ(var(--z)) scale(calc(1 - var(--depth) * 0.5));
  }

  .x-home__carousel .x-home__carousel-item {
    z-index: round(calc(1000 - var(--depth) * 100));
  }
  .x-home__carousel .x-home__card-blend {
    @apply absolute inset-0 z-50 bg-white;

    opacity: clamp(0, calc(var(--depth) * 1), 0.8);
  }

  .x-thumbnails {
    @apply w-full flex-none;
    height: var(--nav-h);
  }

  /* DEPRECATED: */

  .x-home__nav {
    @apply inline-flex flex-none items-center gap-x-0.5;

    margin-left: calc(50% - var(--nav-item-w) / 2);
    height: var(--nav-h);
  }

  .x-home__thumb {
    will-change: transform;
    transform: scale(calc(1 - 0.1 * var(--scaleAbs)))
      translateX(calc((0.1 * var(--nav-item-w) / 2) * var(--scale)));
  }

  .x-home__thumb-link {
    @apply flex flex-none items-center justify-center overflow-hidden rounded-lg bg-sky-500/50;

    width: var(--nav-item-w);
    height: var(--nav-item-h);
  }
</style>
