---
import clsx from 'clsx'
import { fetchStories } from '@/utils/storyblok'
import type { ProjectStoryblok } from '@/types/storyblok'
import { Image } from 'astro:assets'

const projectStories = (await fetchStories({
  by_slugs: 'projects/*',
  content_type: 'Project',
  sort_by: 'content.date:asc',
})) as unknown as ProjectStoryblok[]

const projectSamples = [
  {
    cover: { filename: `https://unsplash.it/360/640?image=111` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=1',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=112` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=2',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=113` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=3',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=114` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=4',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=115` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=5',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=116` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=6',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=117` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=7',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=118` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=8',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=119` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=10',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=120` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=11',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=121` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=12',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=122` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=13',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=123` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=14',
  },
  {
    cover: { filename: `https://unsplash.it/360/640?image=124` },
    title: 'Tennis 40: Love Buch Porsche × Steidl',
    subtitle: 'Porsche',
    link: 'projects/porsche-x-steidl?index=15',
  },
]

const realProjects =
  projectStories?.map((project: ProjectStoryblok) => {
    const heroSlide = project.content.heroSlides?.[0] ?? {}
    return {
      ...project.content,
      slug: project.slug,
      link: project.full_slug ? `/${project.full_slug}` : undefined,
      cover: heroSlide.imageLandscape.filename
        ? heroSlide.imageLandscape
        : heroSlide.imagePortrait,
      coverPortrait: heroSlide.imagePortrait.filename
        ? heroSlide.imagePortrait
        : heroSlide.imageLandscape,
    }
  }) ?? []
const projects = [
  ...realProjects,
  // ...projectSamples,
  // ...realProjects,
  // ...projectSamples,
].filter(Boolean)
const navItems = [...projects]
const total = navItems.length
const half = total / 2

// GSAP 3D Carousel Demo
// https://codepen.io/GreenSock/pen/RwLepdQ
// https://codepen.io/GreenSock/pen/zYRWmOb
---

<div class="h-svh">
  <div
    x-data="home"
    class="x-home sr-only flex h-svh justify-center"
    style={{ '--total': projects.length, '--pi': Math.PI }}
  >
    <!-- <div class="absolute left-0 top-0 w-full">
      <div class="h-[96px] bg-green-500/25"></div>
      <div class="absolute bottom-[] h-[96px] bg-green-500/25"></div>
    </div> -->
    <div class="x-home__container">
      <button
        type="button"
        class={clsx(
          'x-home__arrow',
          'absolute left-0 top-0 z-10 block h-[var(--carousel-height)] w-[20vw] cursor-left lg:h-full',
          'lg:block',
        )}
        x-on:click="prev"
      >
        <span class="sr-only">Move to previous project</span>
      </button>
      <button
        type="button"
        class={clsx(
          'x-home__arrow',
          'absolute right-0 top-0 z-10 block h-[var(--carousel-height)] w-[20vw] cursor-right lg:h-full',
          'lg:block',
        )}
        x-on:click="next"
      >
        <span class="sr-only">Move to next project</span>
      </button>
      <div
        class="x-home__canvas-blend pointer-events-none absolute inset-0 h-full w-full bg-white"
      >
      </div>
      <div class="x-home__canvas">
        <svg viewBox="0 0 100 100" class="x-home__circle">
          <circle
            cx="50%"
            cy="50%"
            r="49"
            fill="none"
            stroke="black"
            stroke-width="2"></circle>
        </svg>
        <ul
          x-ref="carousel"
          class="x-home__carousel"
          data-total={projects.length}
        >
          {
            projects.map((project, index) => (
              <li
                class="x-home__carousel-item overflow-hidden rounded-3xl"
                style={{
                  '--i': index,
                }}
                data-index={index}
                data-card={project.link}
              >
                <a
                  href={project.link}
                  class={clsx(
                    'x-home__card relative block h-full w-full',
                    'after:absolute after:bottom-0 after:left-0 after:right-0 after:z-10 after:h-3/4 after:w-full after:bg-gradient-to-t after:from-black/60 after:to-black/0 lg:after:h-1/2',
                  )}
                  x-on:click.prevent={`() => navigateTo('${project.link}')`}
                >
                  <div class="x-home__card-blend" />
                  {/* <img
                    src={project.cover.filename}
                    alt={project.title}
                    class="h-full w-full object-cover"
                  /> */}
                  {project.cover?.filename && (
                    <Image
                      src={project.cover.filename}
                      alt=""
                      width="1920"
                      height="1080"
                      widths={[768, 1024, 1280, 1536, 1920]}
                      sizes="(min-width: 1280px) 28vw, (min-width: 1024px) 38vw, (min-width: 768px) 62vw, 95vw"
                      class="h-full w-full object-cover"
                      format="webp"
                      inferSize
                    />
                  )}
                  {/* <div class="absolute left-4 top-4 rounded-2xl bg-white/80 p-2 font-bold">
                  {index}
                </div> */}
                  <div class="x-home__text absolute bottom-4 left-4 right-4 z-20 text-white">
                    <h3 class="text-25 font-bold uppercase tracking-wide">
                      {project.title}
                    </h3>
                    <p class="font-serif text-15 tracking-wide">
                      {project.subtitle}
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="x-thumbnails lg:hidden">
        <div x-ref="thumbnails">
          <nav>
            <ul class="x-home__nav">
              {
                navItems.map((project, index) => (
                  <li
                    class="x-home__thumb"
                    style={{
                      '--i': index,
                    }}
                  >
                    <a
                      href={project.link}
                      class="x-home__thumb-link relative"
                      x-on:click.prevent={`() => navigateTo('${project.link}', false)`}
                    >
                      {project.coverPortrait?.filename && (
                        <Image
                          src={project.coverPortrait.filename}
                          alt=""
                          width="96"
                          height="168"
                          widths={[96]}
                          sizes="96px"
                          class="absolute inset-0 h-full w-full rounded-lg object-cover"
                          format="webp"
                          inferSize
                        />
                      )}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div
      x-ref="hero"
      class="absolute left-0 top-0 overflow-hidden rounded-3xl"
      data-image-class="absolute inset-0 h-full w-full rounded-3xl object-cover"
    >
    </div>
    <div
      id="project"
      hx-trigger="loadProject"
      hx-get="/partials/project/"
      hx-vals="js:{ slug: event.detail.slug }"
      class="pointer-events-none absolute left-0 top-0 z-10 w-full bg-white"
    >
    </div>
    <button
      type="button"
      class="absolute left-0 top-0 z-project-back h-10 w-32"
      x-on:click="closeProject"
    >
      <span class="sr-only">Back to home</span>
    </button>
  </div>
</div>

<style is:global>
  .x-thumbnails .splide:not(.is-overflow) .splide__arrows {
    display: none;
  }

  .x-thumbnails .splide:not(.is-overflow) .splide__list {
    justify-content: center;
    transform: translateX(0) !important;
  }

  .x-thumbnails .splide:not(.is-overflow) .splide__slide:last-child {
    margin: 0 !important;
  }

  .x-thumbnails .splide__slide {
    @apply flex items-center transition duration-300 ease-in-out;

    height: var(--nav-h);
  }

  .x-thumbnails .splide__slide:hover,
  .x-thumbnails .splide__slide.is-active {
    /* transform: scale(1.2); */
    transform: translateY(-0.25rem);
  }

  .x-home__container {
    /* Original from design
    --mt: 6rem;
    --nav-h: 4.5rem;
    --nav-item-h: 3.6rem;
    --nav-gap: 3.375rem;
    --mb: 1.75rem;
    */

    /*
    Siteheader mt + Siteheader h + Gap
    12px + 28px + 32px = 72px
    */

    --mt: 4.5rem;
    --nav-h: 4.5rem;
    --nav-item-h: 3.5rem;
    --nav-item-w: calc(var(--nav-item-h) / 16 * 9);
    --nav-gap: 2rem;
    --mb: 1rem;
    --carousel-height: calc(
      100svh - var(--nav-h) - var(--nav-gap) - var(--mt) - var(--mb)
    );

    @apply relative flex w-full flex-col items-center overflow-hidden;
    /* @apply border-b border-t border-purple-500/50; */

    padding-top: var(--mt);
    padding-bottom: var(--mb);
    gap: var(--nav-gap);

    perspective: 8000px;
    transform-style: preserve-3d;
  }

  @screen lg {
    .x-home__container {
      --mt: 3.5rem;
      --nav-h: 0rem;
      --nav-item-h: 0rem;
      --nav-gap: 0rem;
      --mb: 2.5rem;
    }
  }

  .x-home__canvas {
    @apply relative flex w-full items-center justify-center;

    height: var(--carousel-height);
    transform-style: preserve-3d;
    /* perspective: 8000px; */
    --gap-cards: 0rem;
    --w: calc(var(--carousel-height) / 16 * 9);
    --angle: calc(var(--pi) / var(--total));
    --r: calc((var(--w) * 1) / (2 * sin(var(--angle))) + var(--gap-cards));
    --z: calc(var(--r));
  }

  .x-home__carousel {
    --perspective: 8000;
    --perspectivePX: 8000px;
    --progress: 0;
    @apply flex-none;

    width: calc(var(--carousel-height) / 16 * 9);
    height: var(--carousel-height);
    transform-style: preserve-3d;
    transform: rotateY(-360deg);
    /*perspective: 8000px; */
    /* perspective: 8000px; */
    /*transform: translateZ(-8000px); */

    /* perspective: var(--perspectivePX); */
    /* transform: perspective(var(--perspectivePX)) translateZ(calc(var(--z) * -1))
      rotateY(calc(var(--progress) * -360deg)) rotateX(0deg); */
  }

  /* .x-home__carousel > * {
    display: none !important;
  } */

  .x-home__carousel-item {
    --depth: 0;
    @apply absolute h-full w-full rounded-2xl;

    /* filter: blur(calc(pow(var(--depth), 2) * 4px)); */
    /* transform-origin: center; */
    /* transform-style: preserve-3d; */
    /* transform: rotateY(calc(var(--i) * 360deg / var(--total)))
      translateZ(var(--z)) scale(calc(1 - var(--depth) * 0.5)); */
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 360deg / var(--total)))
      translateZ(var(--z));
  }

  .x-home__carousel .x-home__carousel-item {
    z-index: round(calc(1000 - var(--depth) * 100));
  }
  .x-home__carousel .x-home__card-blend {
    @apply absolute inset-0 z-50 bg-white;

    opacity: 0;
    /* transform: translateY(calc(100% * var(--depth))); */
    opacity: clamp(0, calc(var(--depth)), 0.8);
  }

  .x-thumbnails {
    @apply w-full flex-none;
    height: var(--nav-h);
  }

  /* DEPRECATED: */

  .x-home__nav {
    @apply inline-flex flex-none items-center gap-x-0.5;

    margin-left: calc(50% - var(--nav-item-w) / 2);
    height: var(--nav-h);
  }

  .x-home__thumb {
    will-change: transform;
    transform: scale(calc(1 - 0.1 * var(--scaleAbs)))
      translateX(calc((0.1 * var(--nav-item-w) / 2) * var(--scale)));
  }

  .x-home__thumb-link {
    @apply flex flex-none items-center justify-center overflow-hidden rounded-lg bg-sky-500/50;

    width: var(--nav-item-w);
    height: var(--nav-item-h);
  }

  .x-home__circle {
    --size: calc(var(--r) * 2.05);

    transform-style: preserve-3d;
    /* transform-origin: bottom center; */
    transform: rotateX(90deg) translateZ(calc(var(--carousel-height) / 2));

    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: calc(var(--size));
    height: calc(var(--size));
  }

  .x-home:not(.is-ready) .x-home__arrow {
    display: none !important;
  }
  /* .x-home__circle circle {
    --circ: calc(var(--pi) * var(--size));
    --ratio: 0.5;
    stroke-dasharray: var(--circ);
    stroke-dashoffset: calc((1 - var(--ratio)) * var(--circ));
  } */
</style>
